<div class="row">
  <div class="col-md-12 pad-10">
    <button type="submit" class="btn btn-primary" (click)="goToAddFilm()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Calculer Score Film
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 pad-10">
    <span class="glyphicon glyphicon-floppy-disk"></span> <b>Meilleurs films de l'année en cours</b>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Réalisateur</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.id_film }}</td>
      <td>{{ film.titre }}</td>
      <td>{{ film.realisateur }}</td>
      <td>{{ film.score }}</td>
    </tr>
    <tr>
      <td>15634346</td>
      <td>Gladiator</td>
      <td>Ridley Scott</td>
      <td>15</td>
    </tr>
  </tbody>
</table>