<div class="form-horizontal pad-10">
    <br>
    <form #ajoutFilmForm="ngForm">
      <div class="col-md-6 form-group">
        <label class=" control-label">Titre Film</label>
        <div class="col-md-12 no-padding">
          <input name="titre" id="titre" #libelle="ngModel" [(ngModel)]="films.titre" class="form-control" placeholder="" type="text" required />
          <div *ngIf="titre.errors && (libelle.dirty || libelle.touched)" class="alert alert-danger">
            <div [hidden]="!libelle.errors.required">
              Titre requis!
            </div>
          </div>
        </div>
      </div>
      <div class="pad-10">
        <button mwlConfirmationPopover
                [popoverTitle]="'Confirmation'"
                [popoverMessage]="'êtes-vous sûr?'"
                placement="top"
                (confirm)="createFilm(films)"
                type="submit" class="btn btn-save btn-primary" [disabled]="!ajoutFilmForm.valid">
          <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
        </button>
      </div>
    </form>
  </div>